#pyqzym{
	position: fixed;
	top: 70px;
	height:80%;
	width: 100%;
	flex: 1;
	overflow-y: scroll;
	background-color: #F5F5F5;
	align-content:  center;
}
.fanhui{
	color: #BDBDBD;
	line-height: 40px;
	margin: 0px 0px 0px 10px;
}
a:link{
	text-decoration: none;
}
#pyqbjt{
	height: 200px;
	width: 100%;
	position: fixed;
	box-shadow: 0px 0px 1px red;
}
#pyqnr1{
	width: 100%;
	min-width: 400px;
	                                                   height: 210px;
	position: fixed;
	box-shadow: 0px 0px 1px red;
	display: flex;
	position: absolute;
	top: 200px;
	background-color: #F5F5F5;
}
#pyqnr2{
	width: 100%;
	min-width: 400px;
	                                                   height: 210px;
	position: fixed;
	box-shadow: 0px 0px 1px red;
	display: flex;
	position: absolute;
	top: 410px;
	background-color: #F5F5F5;
}
#zck{
	width: 80px;
	height: 300px;
	box-shadow: 0px 0px 1px red;
}
#yck{
	width: 320px;
	height: 300px;
	box-shadow: 0px 0px 1px red;
	align-content:  center;
}
#pyqtx1{
	width: 70px;
	height: 70px;
	margin: 5px;
	box-shadow: 0px 0px 1px red;
	background-image:url(../img/photo/女孩-02.jpeg);
	background-size: cover;
}
#pyqwm{
	width:80px;
	height: 30px;
	box-shadow: 0px 0px 1px red;
	text-align: left;
	text-indent: 5px;
	line-height: 30px;
	color: #303F9F;
	text-shadow: 0px 0px 1px #303F9F;
}
#pyqwz{
	width: 320px;
	text-indent: 5px;
	color: #4E342E;
}
#pyqft{
	margin: 5px 0px 0px 10px;
	width: 200px;
	height: 120px;
	box-shadow: 0px 0px 1px red;
	background-image: url(../img/L320U4284A2A_1000x500.jpg);
	background-size: cover;
}
#sjdzq{
	width: 320px;
	height: 30px;
	box-shadow: 0px 0px 1px red;
	display: flex;
	position: relative;
}
#sjq{
	text-indent: 10px;
	color: #9E9E9E;
	line-height: 30px;
}
#dzq{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	background-image: url(../img/icon/moments/回复区域.svg);
	background-size: cover;
}
#pyqtx2{
	width: 70px;
	height: 70px;
	margin: 5px;
	box-shadow: 0px 0px 1px red;
	background-image:url(../img/photo/女孩-01.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#pyqft2{
	margin: 5px 0px 0px 10px;
	width: 300px;
	height: 120px;
	box-shadow: 0px 0px 1px red;
	display: flex;
	
}
#dyzt{
	width: 90px;
	margin: 0px 5px;
	height: 120px;
	box-shadow: 0px 0px 1px red;
	background-image:url(../img/photo/汉堡.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	
}
#dezt{
	width: 90px;
	margin: 0px 5px;
	height: 120px;
	box-shadow: 0px 0px 1px red;
	background-image:url(../img/photo/汉堡.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#dszt{
	width: 90px;
	margin: 0px 5px;
	height: 120px;
	box-shadow: 0px 0px 1px red;
	background-image:url(../img/photo/汉堡.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#pyqnr3{
	width: 100%;
	min-width: 400px;
	height: 210px;
	position: fixed;
	box-shadow: 0px 0px 1px red;
	display: flex;
	position: absolute;
	top: 620px;
	background-color: #F5F5F5;
}
#pyqtx3{
	width: 70px;
	height: 70px;
	margin: 5px;
	box-shadow: 0px 0px 1px red;
	background-image:url(../img/icon/control/头像.jpg);
	background-size: cover;
}
#pyqft3{
	margin: 5px 0px 0px 10px;
	width: 200px;
	height: 120px;
	box-shadow: 0px 0px 1px red;
	background-image: url(../img/3-160HQ43P3.jpg);
	background-size: cover;
}